<div class="modal" id="changePassPopOut" ng-controller="authController"> <!-- The Modal plugin is a dialog box/popup window that is displayed on top of the current page -->
  <div class="modal-dialog">
    <div class="modal-content">  <!-- styles the modal (border, background-color, etc.). Inside this <div>, add the modal's header, body, and footer. -->
      <div class="panel panel-info title"> <!-- A panel in bootstrap is a bordered box with some padding around its content -->
          
        <div class="panel-heading">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>              
            <h3 class="panel-title">Change Your Password</h3>
        </div>

        <div class="panel-body">
          <form ng-submit="changePassword(user)"> <!-- updates user password data then calls the changePassword function in the authcontroller when submitted -->
            <input type="email" ng-model="user.email" placeholder="Email" class="form-control" required></br></input>
            <input type="password" ng-model="user.oldPass" placeholder="Old Password" class="form-control" required></br></input>
            <input type="password" ng-model="user.newPass" placeholder="New Password" class="form-control" required></br></input>      
            <input type="submit" value="Update" class="btn btn-info">
          </form>
        </div>

      </div>

    </div>
  </div>
</div>
