<div class="modal" id="makeOfferPopOut"> <!-- The Modal plugin is a dialog box/popup window that is displayed on top of the current page -->
  <div class="modal-dialog">
    <div class="modal-content"> <!-- styles the modal (border, background-color, etc.). Inside this <div>, add the modal's header, body, and footer. -->
      
      <div class="panel panel-info title"> <!-- A panel in bootstrap is a bordered box with some padding around its content -->

        <div class="panel-heading title">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="panel-title">Make Your Offer</h3>
        </div>

        <div class="panel-body">
          <form ng-submit="makeOffer()"> <!-- $parent is a reference to the parent scope. -->
            <input type="number" ng-model="$parent.total" class="form-control" placeholder="How much are you willing to do the job for? (in euros)" required ng-disabled="$parent.block">
            <input type="submit" value="Offer Now" class="btn btn-info" ng-disabled="$parent.block">
          </form>
        </div>

      </div>
	  
    </div>
  </div>
</div>
